<head></head>
<body>
<div class='container'>
	<div class="jumbotron">
	 
	  <br>
	  <div class="text-center">
	  <p>Find the New Yorker's 30 most recent headlines.</p>
	  <p><a class="btn btn-success btn-lg" id='mainButton' role="button">Scrape</a></p>
	  </div>
	</div>
	<div class='row' id='articles'>
	</div>
</div>
</body>